@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Lato:wght@300&display=swap');

body {
  font-family: lato, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #22222223;
}

.inner{
  padding: 20px;
}

.outer{
  margin-top: 15%;
}